<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CodeCoach</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet"  href="public/styles/index.css">

  <!-- VENDOR SCRIPTS -->
  <script src="vendor/jQuery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/handlebars/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="public/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>

            <!-- add symbol instead of name -->
            <li><a class="navbar-brand" href="#">CodeCoach</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="heading">
    <div class="background_image"></div>
    <h1>Code Coach</h1>
  </div>
  <div class="about-us">
    <h2>About Us</h2>
    <h3>Ut dictum ut nisl nec mollis. Fusce congue ligula ligula, sed molestie nunc feugiat a. Donec sed sapien cursus, molestie risus ac, semper arcu. Integer blandit maximus dictum. Nam placerat ac felis sit amet elementum. Aenean in dictum dolor. Sed at nibh pulvinar, pellentesque urna non, vulputate nunc. Nulla convallis at arcu ac commodo. Sed cursus turpis at urna volutpat feugiat. Suspendisse viverra dui lobortis nunc blandit vulputate. Maecenas vitae tellus eu tellus luctus venenatis. Curabitur posuere lobortis bibendum.</h3>
    <div class="our_languages container-fluid">

      <!-- Can be the language logos instead -->
      <div class="row">
        <div class="box col-md-2">
            <p>JS</p>
        </div>
        <div class="box col-md-2">
            <p>Python</p>
        </div>
        <div class="box col-md-2">
            <p>Java</p>
        </div>
        <div class="box col-md-2">
            <p>C++</p>
        </div>
        <div class="box col-md-2">
            <p>Ruby</p>
        </div>
        <div class="box col-md-2">
            <p>PHP</p>
        </div>
      </div>
    </div>
  </div>
  <div class="students-coaches">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 students">
          <h3>Students</h3>
          <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis. In luctus convallis aliquet. Nam et condimentum tellus, a eleifend urna. Sed convallis lacus ac tellus molestie condimentum. Maecenas et scelerisque arcu, at consectetur sem.</p>
        </div>
        <div class="col-md-4 coaches">
          <h3>Coaches</h3>
          <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis. In luctus convallis aliquet. Nam et condimentum tellus, a eleifend urna. Sed convallis lacus ac tellus molestie condimentum. Maecenas et scelerisque arcu, at consectetur sem.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-section container-fluid">
    <div class="row">
      <div class="profile-indiviual col-md-6">
        <h3>Kyle Russell</h3>
        <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis.</p>
      </div>
      <div class="profile-indiviual col-md-6">
        <h3>Kyle Russell</h3>
        <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis.</p>
      </div>
      <div class="profile-indiviual col-md-6">
        <h3>Kyle Russell</h3>
        <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis.</p>
      </div>
      <div class="profile-indiviual col-md-4">
        <h3>Kyle Russell</h3>
        <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis.</p>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <button type="button" class="btn btn-default">Sign Up!</button>
    <div class="bottom-image"></div>
  </div>
  <footer>
  </footer>
</body>

</html>
