<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CodeCoach</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/index.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>

            <!-- add symbol instead of name -->
            <li><a class="navbar-brand" href="#">CodeCoach</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="heading">
    <div class="background-image"></div>
    <h1>Code Coach</h1>
  </div>
  <div class="content col-md-10 col-md-offset-1">
    <div class="about-us">
      <h2>About Us</h2>
      <h4>Ut dictum ut nisl nec mollis. Fusce congue ligula ligula, sed molestie nunc feugiat a. Donec sed sapien cursus, molestie risus ac, semper arcu. Integer blandit maximus dictum. Nam placerat ac felis sit amet elementum. Aenean in dictum dolor. Sed at nibh pulvinar, pellentesque urna non, vulputate nunc. Nulla convallis at arcu ac commodo. Sed cursus turpis at urna volutpat feugiat. Suspendisse viverra dui lobortis nunc blandit vulputate. Maecenas vitae tellus eu tellus luctus venenatis. Curabitur posuere lobortis bibendum.</h4>
      <br>
      <hr>
      <div class="our_languages col-md-12">

        <!-- Can be the language logos instead -->
          <div class="box col-md-2">
            <p>JS</p>
          </div>
          <div class="box col-md-2">
            <p>Python</p>
          </div>
          <div class="box col-md-2">
            <p>Java</p>
          </div>
          <div class="box col-md-2">
            <p>C++</p>
          </div>
          <div class="box col-md-2">
            <p>Ruby</p>
          </div>
          <div class="box col-md-2">
            <p>PHP</p>
          </div>
          <hr>
      </div>
      <br><br>
      <hr>

    </div>
    <div class="students-coaches">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-1 students">
            <h3>Students</h3>
            <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis. In luctus convallis aliquet. Nam et condimentum tellus, a eleifend urna. Sed convallis
              lacus ac tellus molestie condimentum. Maecenas et scelerisque arcu, at consectetur sem.</p>
          </div>
          <div class="col-md-4 col-md-offset-1 coaches">
            <h3>Coaches</h3>
            <p>Etiam hendrerit quam felis, ac semper justo tincidunt non. Aliquam erat volutpat. Praesent pellentesque ullamcorper ex, vitae interdum ligula ultrices sagittis. In luctus convallis aliquet. Nam et condimentum tellus, a eleifend urna. Sed convallis
              lacus ac tellus molestie condimentum. Maecenas et scelerisque arcu, at consectetur sem.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="profile-section container-fluid">
      <!-- handlebars template -->
      <div class="student-section col-md-6">
        <div class="box main-indiv-left col-md-12">
          <h3>Diane Liu</h3>
          <!-- <div class="tester col-md-4"> -->
          <img class="logo" src="https://avatars.slack-edge.com/2016-10-17/92371312183_8176715423de397bb4b4_512.jpg"><img>
          <!-- </div>
            <div class="test col-md-8"> -->
          <p>Currently enrolled in the Web Development Immersive Program at General Assembly. I have an advanced skill level in Javascript from my Masters in Electrical Engineering and I'm looking for a mentor who can help me with Java and Ruby.</p>
          <!-- </div> -->
        </div>
        <div class="box main-indiv-left col-md-12">
          <h3>Stephen Dangerfield</h3>
          <div class="tester col-md-4">
            <img class="logo" src="https://avatars.slack-edge.com/2016-10-17/92588041669_9eb08a604f0b4838e321_512.jpg"></img>
          </div>
          <div class="test col-md-8">
            <p>There's only one thing in this world that I love more than danger and that's learning to code. As a Junior Full Stack Developer, I'm looking for a Coach to help me improve my Javascript skills.</p>
          </div>
        </div>
        <div class="main-indiv-left col-md-12">
          <h3>Kyle Russell</h3>
          <div class="tester col-md-4">
            <img class="logo" src="https://media.licdn.com/media/AAEAAQAAAAAAAALOAAAAJGRhN2VhZmM1LTdlMjItNDM1My05YmI5LTI5ZTJiZjQxNjc4Yw.jpg"></img>
          </div>
          <div class="test col-md-8">
            <p>Part time model. Full time Web Development student. Currently looking to expand my Javascript knowledge as well as learn Python.</p>
          </div>
        </div>
      </div>
      <div class="coach-section col-md-6">
        <div class="box main-indiv-right">
          <h3>Justin Castillo</h3>
          <img class="logo" src="https://avatars0.githubusercontent.com/u/4304660?v=3&s=400"></img>
          <p>Recent 2015 Computer Science Graduate from the University of San Francisco with over 10 years of experience in technical sales, team management, and deadline-oriented project development. I am proficient in Java, C, and Front End Development.
            I laugh in the face of danger.</p>
        </div>
        <div class="main-indiv-right">
          <h3>Jean Weatherfax</h3>
          <img class="logo" src="https://avatars.slack-edge.com/2016-05-27/46352131427_8202e1cffdceea3d50bf_512.jpg">
          <p>I'm currently a lead Android Immersive instructor and a Web Immersive Instructor in San Francisco. Previously I worked at the successful mobile deeplinking company Branch Metrics in Palo Alto. Prior to this, I worked as an electrical and computer
            engineer at HP Labs.</p>
        </div>
        <div class="main-indiv-right">
          <h3>Andrew Cordivari</h3>
          <img class="logo" src="https://avatars.slack-edge.com/2016-08-02/65585343381_49ff7655355221ea892f_192.png">
          <p>I'm a full-stack web developer in San Francisco. I began my journey into programming two years ago and after a hiatus to expand my customer-facing skills, I committed to computer programming as my career. I have a passion for creating robust
            applications grounded in simplicity and functionality.</p>
        </div>
      </div>
      <br><br>
      <footer>
      </footer>
    </div>
</body>

</html>
