<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Mentor Me</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/index.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <ul class="navbar-nav">
        <li><a class="col-md-3" id="okay" href="signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        <li><a class="col-md-3" id="okay" href="#">Mentor Me</a></li>
        <li><a class="okay col-md-3" id="okay" href="login"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
      </ul>
    </nav>
  </header>
  <div class="heading">
    <div class="background-image"></div>
    <h1>Mentor Me</h1>
  </div>
  <div class="content col-md-10 col-md-offset-1">
    <div class="about-us col-md-8 col-md-offset-2">
      <h2>About Us</h2>
      <p>Finding experienced mentors and peers might be the most important thing you can do if you want to become a great programmer. They will tell you what books to read, explain the pros and cons of different languages, demystify anything that seems to you like “magic”, help you when you get in a jam, work alongside you to produce great things people want, and challenge you to reach new heights. Mentor Me creates a platform that allows Students and Mentors to connect based on languages and location.</p>
  </div>
      <div class="our_languages col-md-12">
        <div class="box col-md-2">
          <p>PHP</p>
        </div>
        <div class="box col-md-2">
          <p>Python</p>
        </div>
        <div class="box col-md-2">
          <p>Java</p>
        </div>
        <div class="box col-md-2">
          <p>C++</p>
        </div>
        <div class="box col-md-2">
          <p>Ruby</p>
        </div>
        <div class="box col-md-2">
          <p>Javascript</p>
        </div>
    </div>
    <div class="students-mentors container-fluid">
      <div class="col-md-12">
          <div class="col-md-4 col-md-offset-1 students">
            <h3>Students</h3>
            <p>Whatever your skill level may be, our Mentors are here to instruct, inspire, and challenge.</p>
          </div>
          <div class="col-md-4 col-md-offset-2 mentors">
            <h3>Mentors</h3>
            <p>Code Mentors are professional Software Engineers who have the passion to drive the next wave of tech talent. Some of the greatest Software Engineers have either been mentored or have been a mentor at one time. It's a great way to challenge your skills and knowledge, imrpove your communcation skills, and get support on projects.</p>
          </div>
        </div>
      </div>
    <div class="profile-section container-fluid">
      <div class="student-section col-md-6">
        <div class="main-indiv-left col-md-12">
          <h3>Diane Liu</h3>
          <img class="logo" src="https://avatars.slack-edge.com/2016-10-17/92371312183_8176715423de397bb4b4_512.jpg"><img>
          <p>Currently enrolled in the Web Development Immersive Program at General Assembly. I have an advanced skill level in Javascript from my Masters in Electrical Engineering and I'm looking for a mentor who can help me with Java and Ruby.</p>
        </div>
        <div class="main-indiv-left col-md-12">
          <h3>Stephen Dangerfield</h3>
          <img class="logo" src="https://avatars.slack-edge.com/2016-10-17/92588041669_9eb08a604f0b4838e321_512.jpg"></img>
          <p>There's only one thing in this world that I love more than danger and that's learning to code. As a Junior Full Stack Developer, I'm looking for a Mentor to help me improve my Javascript skills.</p>
        </div>
        <div class="main-indiv-left col-md-12">
          <h3>Kyle Russell</h3>
          <img class="logo" src="https://media.licdn.com/media/AAEAAQAAAAAAAALOAAAAJGRhN2VhZmM1LTdlMjItNDM1My05YmI5LTI5ZTJiZjQxNjc4Yw.jpg"></img>
          <p>Part time model. Full time Web Development student. Currently looking to expand my Javascript knowledge as well as learn Python.</p>
        </div>
      </div>
      <div class="mentor-section col-md-6">
        <div class="main-indiv-right col-md-12">
          <h3>Justin Castillo</h3>
          <img class="logo" src="https://avatars0.githubusercontent.com/u/4304660?v=3&s=400"></img>
          <p>Over 10 years of experience in technical sales, team management, and deadline-oriented project development. I am proficient in Java, C, and Front End Development. I laugh in the face of danger.</p>
        </div>
        <div class="main-indiv-right col-md-12">
          <h3>Jean Weatherfax</h3>
          <img class="logo" src="https://avatars.slack-edge.com/2016-05-27/46352131427_8202e1cffdceea3d50bf_512.jpg">
          <p>I'm currently a lead Android Immersive instructor and a Web Immersive Instructor in San Francisco. Previously I worked at the successful mobile deeplinking company Branch Metrics in Palo Alto. Prior to this, I worked as an electrical and computer engineer at HP Labs.</p>
        </div>
        <div class="main-indiv-right col-md-12">
          <h3>Andrew Cordivari</h3>
          <img class="logo" src="https://avatars.slack-edge.com/2016-08-02/65585343381_49ff7655355221ea892f_192.png">
          <p>I'm a full-stack web developer in San Francisco. I began programming two years ago and after a hiatus to expand my customer-facing skills, I committed to computer programming as my career. I have a passion for creating robust applications grounded in simplicity and functionality.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- <footer>
      <p>trying to get footer to work</p>
  </footer> -->
  <div class="footer">
        <ul class="navbar-nav col-md-12">
          <li class="col-md-3 col-md-offset-2"><a class="col-md-2" id="okay" href="signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
          <li class="col-md-3 col-md-offset-1"><a class="okay col-md-3" id="okay" href="login"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
        </ul>
    </footer>
</body>

</html>
