<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- <script src="script.js"></script> -->

    <title>Personal Profile</title>
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <a id="logout" type="button" href="/logout" class="btn btn-primary">Log Out</a>
            <h3>Welcome <b><i><%= mentor.name %></i></b> ! You're logged in as a <i><b>MENTOR</b></i> !</h3>
            <br><br>
            <div class="col-md-3">
                <div>
                    <img src="<%= mentor.image %>">
                </div>
                <h4><%= mentor.name %></h4>
                <h5><i><%= mentor.email %></i></h5>
                <br>
                <div class="btn-group" id="toggle_event_editing">
                    <button type="button" class="btn btn-info locked_active">Students</button>
                    <button type="button" class="btn btn-default unlocked_inactive">Mentors</button>
                </div>
                <br><br>
                <form action="search.html">
                    <button type="button" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
