body {
  font-family: 'Cormorant Garamond', serif;

}
.navbar {
  margin: 0;
}


/*about us section*/
.about-us {
  text-align: center;
}
.about-us p {
  text-align: center;
  font-size: 150%;
  margin-top: 50px;
}
.our_languages {
}
.box {
  border: 2px solid black;
  margin: 10px;

}
.logo {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

b {
  font-size: 16px;
  font-style:
}

p {
  font-size: 15px;
  font-style: italic;
}

/*Student section on index*/
.main-indiv-left {
  border: 2px black solid;
  padding: 5px;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
.main-indiv-left h3 {
  margin-top: 0;
  position: absolute;
}
.main-indiv-left p {
  position: absolute;
  left: 110px;
  bottom: 25px;
  right:

}
.main-indiv-left .logo {
  position: absolute;
  top: 55px;

}
.tester {
  padding-right: 0;
}

.test {
  padding: 0;
  margin: 0;
}
/*Coach section on index*/
.main-indiv-right {
  border: 2px black solid;
  padding: 5px;
  height: 200px;
  margin-bottom: 20px
}


.main-indiv-right .logo {
  float: right;
  margin-left: 5px;
}
