body {
  font-family: 'Cormorant Garamond', serif;

}
.navbar {
  margin: 0;
}


/*about us section*/
.about-us {
  text-align: center;
}
.about-us p {
  text-align: center;
  font-size: 150%;
  margin-top: 50px;
}
.our_languages {
}
.searchbar {
  display: inline-block;
}
.box {
<<<<<<< HEAD
  border: 2px solid black;
  margin: 10px;
=======
>>>>>>> master

}
.logo {
  height: 140px;
  width: 140px;
  overflow: hidden;
}
li {
  padding: 0, 10px;
  margin-left: 140px;
  margin-right: 140px;
  font-style: italic;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

b {
  font-size: 20px;
}

p {
  font-size: 17px;
  font-style: italic;
}


/*Student section on index*/
.main-indiv-left {
  border: 2px black solid;
  padding: 5px;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
.main-indiv-left h3 {
  margin-top: 0;
  position: absolute;
}
.main-indiv-left p {
  position: absolute;
  left: 110px;
  bottom: 25px;
  right:
}
.main-indiv-left .logo {
  position: absolute;
  top: 55px;

}
/*Coach section on index*/
.main-indiv-right {
  border: 2px black solid;
  padding: 5px;
  height: 200px;
  margin-bottom: 20px
}
.main-indiv-right .logo {
  float: right;
  margin-left: 5px;
}
