.navbar {
  margin: 0;
}
.our_languages {
  display: inline-block;
}
.box {

}
.logo {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

b {
  font-size: 16px;
  font-style:
}

p {
  font-size: 15px;
  font-style: italic;
}

/*Student section on index*/
.main-indiv-left {
  border: 2px black solid;
  padding: 5px;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
.main-indiv-left h3 {
  margin-top: 0;
  position: absolute;
}
.main-indiv-left p {
  position: absolute;
  left: 110px;
  bottom: 25px;
}
.main-indiv-left .logo {
  position: absolute;
  top: 50px;
}
.tester {
  padding-right: 0;
}

.test {
  padding: 0;
  margin: 0;
}
/*Coach section on index*/
.main-indiv-right {
  border: 2px black solid;
  padding: 5px;
  height: 200px;
  margin-bottom: 20px
}


.main-indiv-right .logo {
  float: right;
  margin-left: 5px;
}
