body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #f2f2f2;
}

.navbar {
    margin: 0;
    height: 50px;
    padding: 10px 0px 60px 0px;
    background-color: black;
    border-radius: 0;
    border: black;
}
.navbar-nav {
    padding: 0;
    width: 100%;
}
a {
    padding-top: 5px;
}
#okay {
    border:2px solid white;
    margin: 0 120px;
    width: 170px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 33px;
    font-style: normal;
    font-size: 150%;
    color: white;
}
.glyphicon {
    padding-right: 5px;
}

.heading {
  height: 560px;
  background-image: url("../images/header.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  filter: gray;
}

.heading h1 {
    position: absolute;
  text-align: center;
  margin: 0;
  text-align: center;
  top: 30%;
  left: 30%;
  font-weight: bolder;
  font-size: 100px;
  color: white;
}

.our_languages {
    margin: 20px 0;
    display: inline-block;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    background-color: black;
    border-radius: 15px;
}

.box p {
    font-size: 30px;
    margin-bottom: 0px;
    padding: 10px 0px;
    color: white;
}

.searchbar {
  display: inline-block;
}
.box {

}
.logo {
  height: 140px;
  width: 140px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

/*about us section*/
.about-us {
    padding: 30px 0;
    text-align: center;
}

.about-us h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}

.about-us p {
    font-size: 20px;
}

.profile-section {
    margin-bottom: 50px;
}

.students-mentors {
    margin: 20px 0;
    text-align: center;
}
.students {
    padding: 0;
}
.mentors {
padding: 0;
}

.students-mentors h3 {
    font-size: 40px;
    text-align: center;
}
.students-mentors p {
    font-size: 20px;
}

.profile-section p {
    font-size: 16px;
}
/*Student section on index*/
.student-section {
    padding: 0 15px;
}
.main-indiv-left {
    position: relative;
    border: 2px black solid;
    padding: 5px;
    height: 225px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: black;
}
.main-indiv-left h3 {
    margin: 10px 0 0 10px;
    position: absolute;
    color: white;
}
.main-indiv-left p {
    position: absolute;
    left: 155px;
    top: 60px;
    width: 300px;
    color: white;
}
.main-indiv-left .logo {
  position: absolute;
  top: 55px;
  border-radius: 15px;
}

/*Mentor section*/
.main-indiv-right {
    position: relative;
  border: 2px black solid;
  padding: 5px;
  height: 225px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: black;
}

.main-indiv-right .logo {
  float: right;
  margin-left: 5px;
  border-radius: 15px;
  margin-top: 10px;
}

.main-indiv-right h3 {
    margin: 10px 0 0 10px;
    color: white;
}
.main-indiv-right p {
    font-size: 16px;
    width: 300px;
    color: white;
    margin-top: 15px;
}


/*footer*/
.footer {
    margin-top: 50px;
    background-image: url(../images/footer.jpeg);
    clear: both;
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer .navbar {
    background: transparent;

}
.footer a {
    color: white;
}
.footer .navbar-nav {
    margin-top: 100px;
}
