body {
  font-family: 'Cormorant Garamond', serif;
}

img {
  height: 250px;
  width: 290px;
}

h3 {
  font-weight: bolder;
  text-align: left;
  font-weight: normal;
  text-align: left;
}

#logout {
  margin-top: 15px;
  float: right;
  display: inline-block;
}
